extends layout

block main
  .col5.main
    .flex
      h1
        p Про сайт
    .flex.col5
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, veniam. Corporis aperiam nam pariatur quisquam temporibus non aut ipsa a! 