article.col1.flex.column
      a(href='/item.html')
        .image
          img(src='/images/mac.png', alt='MacBook Pro')
        h3 MacBook Pro mid 2018
      i
        p Экран 13.3" (2560x1600), IPS / глянцевый / Intel Core i7 (2.7 - 4.5 ГГц) / RAM 16 ГБ / SSD 2 ТБ