header.flex
  a.mb-only.mobile-menu.mobile-menu-bars(href='#')
    i.fas.fa-bars
  a.mb-only.mobile-menu.mobile-menu-times(href='#')
    i.fas.fa-times
  .col1.center.mb-hidden Вхід
  .col1.center.mb-hidden Реєстрація
  .col3.center
    a(href='/index')
      h1.name Catalog
  .col1.center.mb-hidden
    i.fas.fa-mobile-alt
      span 8 800 555 35 35
  .col1.center.mb-hidden
    form#form1(action='/action_page.php')
      input(type='text', name='fname')
      button
        i.fas.fa-search
