extends layout

block main
  .col5.main
    .flex
      h1
        p=title 
    section.flex 
      if(items)
        each item, hash in items
          include article
          +article(item.name, item.desctiption,item.image, hash)