extends layout
block messages
  .col5.main
    .flex
      h1
        p Залиште свій відгук
    section.column.center.text-align-left
      if(errors)
        for error in errors
          div
            if(error.msg)
              p=error.msg 
            if(error.message)
              p=error.message
      if(messages)
        for msg in messages
          div
            p=msg 
      p 
        a(href='javascript:history.back()') ⬅️ Повернутися
