nav.flex.mb-hidden
  .col1
  .col1.center
    a(href='/index.html')
      h2 Головна
  .col1.center
    a(href='/about.html')
      h2 Про сайт
  .col1.center
    a(href='/contacts.html')
      h2 Контакти
  .col1
