sidebar.col1
  div
    h1.center Каталог
    .arrow.mb-only
      i.fas.fa-arrow-down
  .catalog-list
    ul
      li
        a(href='#')
          h3
            i.fas.fa-laptop
            p Ноутбуки
      li
        a(href='#')
          h3
            i.fas.fa-tablet
            p Планшети
      li
        a(href='#')
          h3
            i.fas.fa-phone
            p Смартфони
      li
        a(href='#')
          h3
            i.far.fa-keyboard
            p Клавіатури
      li
        a(href='#')
          h3
            i.fas.fa-mouse-pointer
            p Мишки
      li
        a(href='#')
          h3
            i.fas.fa-headphones-alt
            p Навушники
      li
        a(href='#')
          h3
            i.far.fa-file-audio
            p Плеєри
  .arrow-up
    i.fas.fa-arrow-up
