sidebar.col1
  div
    h1.center Каталог
    .arrow.mb-only
      i.fas.fa-arrow-down
  .catalog-list
    ul
      li
        a(href='/index/laptops')
          h3
            i.fas.fa-laptop
            span Ноутбуки
      li
        a(href='/index/tablets')
          h3
            i.fas.fa-tablet
            span Планшети
      li
        a(href='/index/smartphones')
          h3
            i.fas.fa-phone
            span Смартфони
      li
        a(href='/index/keyboards')
          h3
            i.far.fa-keyboard
            span Клавіатури
      li
        a(href='/index/mouses')
          h3
            i.fas.fa-mouse-pointer
            span Мишки
      li
        a(href='/index/headphones')
          h3
            i.fas.fa-headphones-alt
            span Навушники
      li
        a(href='/index/players')
          h3
            i.far.fa-file-audio
            span Плеєри
  .arrow-up
    i.fas.fa-arrow-up
